.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
}

button {
    width: 100%;
    padding: 15px;
    margin: 5px;
    font-size: 18px;
    background-color: #1A4D2E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #4F6F52;
}

button:active {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}
